/* General */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
header {
  position: relative;
  left: 0;
  width: 100%;
  z-index: 2;
  background-image: url("../imgs/car.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  border-top: 5px solid;
  border-left: 5px solid;
  border-right: 5px solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}

header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: -1;
}

header .white-box {
  display: flex;
  align-items: center;
  width: 500px;
  height: 38px;
  position: absolute;
  background-color: white;
  top: 0;
  right: 94px;
  border: 1px solid white;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

@media (max-width: 768px) {
  header .white-box {
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 10;
  }
}

header .white-box ul li {
  display: inline-flex;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header .white-box ul {
    display: none;
  }
}

header .white-box .language-change {
  position: relative;
  color: black;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
  transition: 0.3s;
}

.lang {
  display: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

header .white-box .language-change .active {
  display: inline;
}

header .white-box .language-change.show-options {
  flex-direction: column;
  gap: 5px;
  background-color: white;
  top: 20px;
  border-radius: 10px;
}

header .white-box .language-change.show-options .lang {
  display: inline;
}

header .white-box .flag {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 97px;
}

@media (max-width: 768px) {
  header .container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .toggle-menu {
    position: absolute;
    left: 10px;
  }

  .logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -1;
  }

  .tools {
    position: absolute;
    right: 10px;
  }
}

.logo img {
  height: 150px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .toggle-menu {
  color: white;
  font-size: 22px;
}

/* Show the toggle only on small screens */
@media (min-width: 769px) {
  header .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

/* Hide links small screens */
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
}

header nav ul.show-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 47%;
  left: 1%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.68);
  z-index: 1;
}

header .toggle-menu:hover + ul li a {
  padding: 15px;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: white;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #b0fb3c;
}

.language-toggle {
  position: relative;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
  margin-left: auto;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .language-toggle {
    display: none;
  }
}

.lang-option {
  display: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.language-toggle .active {
  display: inline;
}

.language-toggle.show-options {
  flex-direction: column; /* Stack options vertically */
  gap: 5px;
}

.language-toggle.show-options .lang-option {
  display: block;
}

header nav .tools {
  color: #fff;
}

header nav .tools i {
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .tools .user-icon {
    display: none;
  }
}

header nav .tools .shop-icon {
  margin-left: 25px;
  position: relative;
  background-color: #eee;
  color: black;
  border-radius: 50%;
  padding: 10px;
}

header nav .tools .shop-icon::after {
  content: "2";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: yellow;
  color: black;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -5px;
  top: -5px;
}

header .introduction {
  z-index: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header .introduction .title {
  font-style: oblique;
}

header .introduction .title h3 {
  color: #fffcfccc;
  text-align: center;
  font-size: 20px;
}

header .introduction .title h3 span {
  display: block;
}

header .introduction .title h3 .black {
  color: white;
  font-size: 50px;
}

header .introduction .title h3 .friday {
  color: #b0fb3c;
  margin-top: -19px;
  font-size: 75px;
}

header .introduction .title p {
  font-size: 20px;
  color: #eee;
}

/* Style the search container */
header .introduction .search {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 10px;
  width: 100%;
  max-width: 522px;
  padding: 0 10px;
}

header .introduction .search .search-category {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  font-weight: 500;
  margin-right: 10px;
}

header .introduction .search .search-category i {
  margin-left: 5px;
  color: #eee;
}

header .introduction .search .search-category .category-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  border-radius: 8px;
  width: 100px;
  display: none; /* Hidden by default */
  z-index: 10;
}

header .introduction .search .search-category .category-list li:hover {
  background-color: #555;
}

header .introduction .search .search-category.show .category-list {
  display: block;
  padding: 10px;
}

header .introduction .search .search-category.show .category-list li {
  margin-bottom: 5px;
}

/* Style the search input */
header .introduction .search input {
  width: 100%;
  padding: 10px 15px;
  background-color: #ffffff80;
  color: white;
  border: none;
  border-radius: 10px;
}

header .introduction .search input::placeholder {
  color: white;
}

header .introduction .search input:focus {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/* Add Font Awesome search icon on the right side of the input */
header .introduction .search::before {
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #eee;
  pointer-events: none;
}

@media (max-width: 768px) {
  header .introduction .search {
    margin-top: 10px;
    width: 322px;
    padding: 10px 20px;
    border: 0;
    border-radius: 3px;
  }
  header .introduction .search::before {
    right: 30px;
  }
}

/* Footer */

/* Footer styling */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 90px auto;
}

/* Icons styling */
.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-basis: 50%;
}

.icons i {
  font-size: 24px;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 50%;
  color: #ffffff78;
  text-align: center;
}

/* On small screens, 4 icons per row */
@media (max-width: 768px) {
  .icons i {
    flex: 1 0 22%;
    text-align: center;
  }
}

/* Offer styling */
.offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
  text-align: right;
}

.discount {
  font-size: 30px;
  color: #ff5c00;
  font-weight: bold;
  margin-bottom: 10px;
  font-style: oblique;
  text-transform: uppercase;
}

.discount .off {
  display: block;
  font-size: 40px;
}

.offer p {
  font-size: 14px;
  margin: 5px 50px;
  max-width: 200px;
}

.arrow-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  transform: rotate(45deg);
  padding: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .offer {
    text-align: left;
    align-items: flex-start;
    margin-top: 50px;
  }
}

/* End Header */
